body {
    background: #000000;
    color: #ffffff;
    font-family:
    "Web64 Roundabout",
    "Web64 Droid Sans",
    "Web64 Enter Command",
    "Web64 Silver",
    "Web64 AT01";
    font-size: 16px;
    margin: 0;
}

.page-shell {
    max-height: 460px;
    max-width: 560px;
    margin: 0 auto;
    padding: 8px;
    background-color: #5e32a8;
    border: 4px solid #ffffff;
}

h1 {
    color: #ffffff;
    font-family:
    "Web64 Enter Command",
    "Web64 Roundabout",
    "Web64 Droid Sans",
    "Web64 Silver",
    "Web64 AT01";
    font-size: 32px;
    text-align: center;
}

a {
    color: #000000;
    cursor: pointer;
    font-size: 16px;
    font-family:
    "Web64 Enter Command";
}

p {

    color: #ffffff;
    font-size: 16px;
    font-family:
    "Web64 Enter Command";

}
